
*{
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    width: 100%;
    position: sticky;
    top: 0 auto;
}

.logo{
    width: 3em;
    margin: 1em;
}

.search{
    display: flex;
}

.search_input{
    height: 2.5em;
    border-radius: 25px 0px 0px 25px;
    border-right: none;
    background: #fff;
    padding: 0%;
    padding-left: 1em;
    margin: auto;
    font-family: serif;
    font-size: 13pt;
}

.search_btn{
    width: 4em;
    height: 3.5em;
    border-radius: 0px 25px 25px 0px;
    border-left: none;
    margin: auto;
}

.search_btn>img{
    height: 2.25em;
    margin: auto;
    transform-origin: 50% 10%;
    transition: transform .5s linear;
}

.search_btn>img:hover{
    transform: scale(1.5) rotate(1deg);
}

.header>ul{
    display: inline-flex;
    text-decoration: none;
    font: 1em sans-serif;
    font-weight: 550;
    list-style: none;
    margin: auto;
    margin-right: 1em;
    font-style: oblique;

}

.header>ul>li>a{
    margin: 1em 0.5em;
    text-decoration: none;
    padding: .5em;
    border-radius: 25px;
    color: black;
    background-color: greenyellow;
}

.header>ul>li>a:hover{
    background: rgb(211, 211, 190);
}

/* #homepage_btn{ */
/* the main part where I explain CSS grid */

/* CSS grid: template-row */
.num{
    display: grid;
    grid-template-columns:33.3% 33.3% 33.3%;
    margin: 0 auto;
    width: 80vh;
    grid-gap: 1rem;

}

.num>div{
    background:rgb(144, 66, 163);
    padding: 1rem;
    text-align: center;
    margin: 0px;
    font-size: 3em;
    padding: 4rem;
}
.num :nth-child(even){
    background: rgb(105, 32, 32);
}


.side_menu{
    background: rgb(17, 90, 59);
    height: 4rem;
    position: relative;
}
check
.main{
    background: cyan;
    /* height: 4rem; */
    position: relative;
}

.ads{
    background: purple;
    position: static;
    top: 1em;
    height: 10rem;
}

.gid_diag{
    background: cyan;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(8, minmax(100px, auto));
    grid-gap: 1rem;

}

.footer{
    background: rgb(71, 71, 71);
    position: relative;
    bottom: 0em;
    height: 8em;
    width: 100%;
    color: #fff;
    text-align: center;

}

#homepage_btn:hover{
    background: rgb(211, 211, 190);
}

@media all and (max-width:850px) {
    *{
        background: #fff;
        margin: 0px;
    }

}